/* ==========================================
   Explore Section
========================================== */

.explore{

    padding:80px 7%;
    text-align:center;
    background:#ffffff;

}

.explore h2{

    font-size:3rem;
    color:#003B7A;
    font-family:"Poppins",sans-serif;
    margin-bottom:15px;

}

.section-line{

    width:75px;
    height:4px;
    background:#C62828;
    margin:0 auto 55px;
    border-radius:50px;

}

/* Cards */

.card-container{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:36px;
    flex-wrap:wrap;

}

.club-card{

    width:360px;
    height:190px;

    background:#fff;

    border:2px solid #C62828;
    border-radius:14px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-decoration:none;
    color:#003B7A;

    transition:all .35s ease;

    box-shadow:0 8px 22px rgba(0,0,0,.08);

}

.club-card:hover{

    transform:translateY(-6px);

    box-shadow:0 16px 32px rgba(0,0,0,.12);

}

/* Icon */

.club-card i{

    font-size:46px;
    margin-bottom:18px;

}

/* Title */

.club-card h3{

    font-size:1.35rem;
    font-weight:700;
    letter-spacing:1px;
    margin-bottom:16px;

}

/* Arrow */

.club-card span{

    font-size:1.7rem;
    color:#C62828;
    transition:.3s;

}

.club-card:hover span{

    transform:translateX(8px);

}
