/* General Styling */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
    color: #333;
}

h1 {
    text-align: center;
    padding-top: 30px;
}

h2 {
    color: #003366;
}

p, li {
    font-size: 16px;
}

section {
    padding: 20px;
    margin: 20px;
}

/* Member Cards */

.member-card {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
}

/* Navigation Bar */

nav {
    background-color: #003366;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.hero {
    background: #003366;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    color: white;
    font-size: 55px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    max-width: 900px;
    margin: auto;
}

.intro {
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px;
}

.quick-links {
    padding: 40px;
}

.quick-links h2 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    background: white;
    width: 220px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

